{{ define "main" }}

<div class="mw6 center ph3 pv4">

  <div class="cms mw6">
    {{ .Content }}
    {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
  </div>
  <h3 class="f2 lh-title b mb3">{{.Title}}</h3>
  <div class="flex justify-between grey-3">
    <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
  </div>
  <div>
    <p>{{ .Description }}</p>

    <a href="https://www.linkedin.com/profile/add?startTask=CERTIFICATION_NAME" rel="nofollow" target="_blank"><img
        src="https://download.linkedin.com/desktop/add2profile/buttons/en_US.png "
        alt="LinkedIn Add to Profile button"></a>
  </div>
</div>
{{ end }}