{{ define "main" }}

<div class="mw6 center ph3 pv4">

  <div class="cms mw6">
    <h2>Share on your LinkedIn Profile</h2>
    <ol>
      {{if .Params.cert_url}}
      <script>
        const copyToClipboard = str => {
          const el = document.createElement('textarea');  // Create a <textarea> element
          el.value = str;                                 // Set its value to the string that you want copied
          el.setAttribute('readonly', '');                // Make it readonly to be tamper-proof
          el.style.position = 'absolute';
          el.style.left = '-9999px';                      // Move outside the screen to make it invisible
          document.body.appendChild(el);                  // Append the <textarea> element to the HTML document
          const selected =
            document.getSelection().rangeCount > 0        // Check if there is any content selected previously
              ? document.getSelection().getRangeAt(0)     // Store selection if found
              : false;                                    // Mark as false to know no selection existed before
          el.select();                                    // Select the <textarea> content
          document.execCommand('copy');                   // Copy - only works as a result of a user action (e.g. click events)
          document.body.removeChild(el);                  // Remove the <textarea> element
          if (selected) {                                 // If a selection existed before copying
            document.getSelection().removeAllRanges();    // Unselect everything on the HTML document
            document.getSelection().addRange(selected);   // Restore the original selection
          }
        };
      </script>
      <style>
        .copied {
          background-color: green;
          font-weight: bold;
        }
      </style>
      <button id="copy-url" style="color:white;background-color:red;padding:10px 20px;border-radius:10px;"
        onclick="copyToClipboard('{{.Params.cert_url}}')">Copy your certifcate URL</button>
      <script>
        document.getElementById("copy-url").addEventListener("click", setClicked);
        function setClicked() {
          var ere_copy_button = document.getElementById("copy-url");
          ere_copy_button.className = "copied";
          ere_copy_button.innerHTML = "certificate URL copied to clipboard";
        }
      </script>
      <li>

      </li>
      {{ end }}
      <li>
        <a href="https://www.linkedin.com/profile/add?startTask=CERTIFICATION_NAME" rel="nofollow" target="_blank"><img
            src="https://download.linkedin.com/desktop/add2profile/buttons/en_US.png "
            alt="LinkedIn Add to Profile button"></a>
      </li>

    </ol>

    {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
  </div>
  <h3 class="f2 lh-title b mb3">{{.Title}}</h3>
  <div class="flex justify-between grey-3">
    <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
  </div>
  <div>
    <p>{{ .Description }}</p>


  </div>
</div>
{{ end }}